/* -------1200--------- */

@media only screen and (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        min-width: 1400px !important;
    }

}

@media only screen and (max-width: 767px) {
    .sec-img-mob {
        display: block;
        padding-top: 20px;
    }

    a.navbar-brand {
        width: 70%;
    }

    button.navbar-toggler {
        background-color: #1DA09A !important;
    }

    .sec-by-btn {
        border-radius: 0;
        background: transparent;
        padding: 10px 10px !important;
        color: #000 !important;
        border-bottom: 1px solid #cfcfcf;
    }

    .head-sec-bgg {
        padding: 0px 0px 0px 0px;
        margin-top: 0px !important;
    }

    .sec-wee-h {
        color: #000;
        font-size: 30px;
    }
    .owl-prev , .owl-next {
        display: none !important;
    }
    .owl-dots{
        display: block !important;
    }
    .sec-wee-p {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 30px;
    }
    .sec-cn-btn {
        color: #FFF;
        font-size: 18px;
        padding: 15px 30px;
        margin-bottom: 20px;
    }
    .sec-cust-bgg::after , .sec-cudt-h::before{
        display: none;
    }
    .sec-cust-bgg {
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .sec-cudt-h, .sec-why-h , .sec-gal-h {
        font-size: 30px;
    }
    .sec-cudt-p , .secpro-p {
        font-size: 18px;
    }
    .sec-col-col-w {
        width: 100%;
        margin: auto;
    }
    .secmarg-box-1 , .secmarg-box-2 {
        margin-top: 0px;
        padding: 0px;
    }
    .sec-gallery-paddi {
        padding:20px 0px;
    }
    .sec-sub-bg {
        margin-bottom: 0px;
        margin-top: 0px;
        background-color: #DFEEFF;
        background-image: none;
        padding: 40px 20px;
    }
    .sec-sub-h {
        font-size: 23px;
    }
    .sec-min-btn {
        margin-left: 0px;
        margin-top: 7px;
        text-align: center;
    }
    .sec-sub-p {
        font-size: 16px;
    }
    #subsid input {
        height: 50px;
        border-radius: 60px;
        border: 1px solid #F1F1F1;
        background: #FFF;
        box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
    }
    .sec-sub-btn {
        padding: 14px 25px;
    }
    #subsid ::placeholder{
        font-size: 14px !important;
    }
    .sec-foot-socac , .sec-foot-our-h , .sec-copy-p{
        padding: 20px 0px !important;
    }
    a.nav-link.sec-li-small2 {
        border-bottom: 1px solid #cfcfcf;
        padding: 10px 10px !important;
    }
    
}